<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <title>Logowanie</title>
</head>
<body>
<div id="container" class="container h-100 p-3">
    <div class="row justify-content-center align-items-center">
        <h3>Muzeum Historyczne Izy</h3>
    </div>

    <div id="messages" class="row justify-content-center">
        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <div th:if="${param.logout}">
            <p class="text-warning">Zostałeś wylogowany</p>
        </div>
    </div>

    <form id="login-form" th:action="@{/login}" method="post">
        <div class="row justify-content-center">
            <div id="loginCredential">
                <div class="form-group col">
                    <input type="email" class="form-control" id="email" name="email" placeholder="email" style="text-align: center" required>
                </div>
                <div class="form-group col">
                    <input type="password" class="form-control" id="pass" name="pass" placeholder="hasło" style="text-align: center" required>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-3">
                <a href="/register" class="btn btn-link float-left text-dark" style="font-size: smaller">* Zarejestruj się</a>
                <a href="/passChange" class="btn btn-link float-right text-dark" style="font-size: smaller">* Zmień hasło</a>
            </div>
        </div>

        <div class="row justify-content-center p-3">
            <button type="submit" class="btn-dark">Zaloguj</button>
        </div>
    </form>
</div>

<div id="footerOnPage"></div>
</body>
</html>