<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Bilety</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css" type="text/css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/input-spinner.js"></script>

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/ticket.js"></script>

</head>
<body>
<div id="navbarOnPage"></div>
<br>
<div id="container" class="container-fluid text-center">
    <h3>BILETY</h3>
    <br>
    <div id="form1" class="row justify-content-center m-2">
        <label for="ticketType1" class="col-sm-1 col-form-label">Typ</label>
        <select id="ticketType1" class="form-select w-20" aria-label="Default select example" >
            <option id="normalTicket1" value="1" th:text="#{pages.tickets.ticketType1}" th:attr="normalPrice=#{pages.tickets.ticketPrice1}"></option>
            <option id="studentTicket1" value="2" th:text="#{pages.tickets.ticketType2}" th:attr="studentPrice=#{pages.tickets.ticketPrice2}"></option>
            <option id="childTicket1" value="3" th:text="#{pages.tickets.ticketType3}" th:attr="childPrice=#{pages.tickets.ticketPrice3}"></option>
            <option id="pensionerTicket1" value="4" th:text="#{pages.tickets.ticketType4}" th:attr="pensionerPrice=#{pages.tickets.ticketPrice4}"></option>
        </select>
        <div class="col-2">
            <input id="inpNo1" type="number" value="0">
        </div>
        <div>
            <button id="btnSmall1" type="button" class="btn btn-light btn-sm" onclick="addForm()">Dodaj kolejny</button>
        </div>
    </div>
    <div id="form2" class="row justify-content-center m-2">
        <label for="ticketType2" class="col-sm-1 col-form-label">Typ</label>
        <select id="ticketType2" class="form-select w-20" aria-label="Default select example" >
            <option id="normalTicket2" value="1" th:text="#{pages.tickets.ticketType1}" th:attr="normalPrice=#{pages.tickets.ticketPrice1}"></option>
            <option id="studentTicket2" value="2" th:text="#{pages.tickets.ticketType2}" th:attr="studentPrice=#{pages.tickets.ticketPrice2}"></option>
            <option id="childTicket2" value="3" th:text="#{pages.tickets.ticketType3}" th:attr="childPrice=#{pages.tickets.ticketPrice3}"></option>
            <option id="pensionerTicket2" value="4" th:text="#{pages.tickets.ticketType4}" th:attr="pensionerPrice=#{pages.tickets.ticketPrice4}"></option>
        </select>
        <div class="col-2">
            <input id="inpNo2" type="number" value="0">
        </div>
        <div>
            <button id="btnSmall2del" type="button" class="btn btn-light btn-sm deleteBtn">Usuń</button>
        </div>
    </div>
    <div id="form3" class="row justify-content-center m-2">
        <label for="ticketType3" class="col-sm-1 col-form-label">Typ</label>
        <select id="ticketType3" class="form-select w-20" aria-label="Default select example" >
            <option value="1" th:text="#{pages.tickets.ticketType1}"></option>
            <option value="2" th:text="#{pages.tickets.ticketType2}"></option>
            <option value="3" th:text="#{pages.tickets.ticketType3}"></option>
            <option value="4" th:text="#{pages.tickets.ticketType4}"></option>
        </select>
        <div class="col-2">
            <input id="inpNo3" type="number" value="0">
        </div>
        <div>
            <button id="btnSmall3del" type="button" class="btn btn-light btn-sm deleteBtn">Usuń</button>
        </div>
    </div>
    <div id="form4" class="row justify-content-center m-2">
        <label for="ticketType4" class="col-sm-1 col-form-label">Typ</label>
        <select id="ticketType4" class="form-select w-20" aria-label="Default select example" >
            <option value="1" th:text="#{pages.tickets.ticketType1}"></option>
            <option value="2" th:text="#{pages.tickets.ticketType2}"></option>
            <option value="3" th:text="#{pages.tickets.ticketType3}"></option>
            <option value="4" th:text="#{pages.tickets.ticketType4}"></option>
        </select>
        <div class="col-2">
            <input id="inpNo4" type="number" value="0">
        </div>
        <div>
            <button id="btnSmall4del" type="button" class="btn btn-light btn-sm deleteBtn">Usuń</button>
        </div>
    </div>
    <br>
    <div class="col-10">
        <fieldset disabled>
            <div class="row justify-content-center">
                <label for="inputSumPLN" class="col-sm-2 col-form-label">Suma w PLN</label>
                <input type="text" id="inputSumPLN">
            </div>
        </fieldset>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <a class="btn w-25 btn-light float-left" onclick="javascript:history.back(-1)">Wróć</a>
            <button sec:authorize="hasAuthority('client')" type="button" class="btn w-25 btn-dark float-right" onclick="prepareTicketData()">Kup</button>
        </div>
    </div>

    <br>
    <div sec:authorize="hasAnyAuthority('admin','director', 'employee')" id="tableEmployee">
        <div class="float-left w-100">
            <h3 class="float-left">Lista sprzedanych biletów</h3>
        </div>
        <table id="ticketsTable" class="table table-borderless">
            <thead>
            <tr>
                <th>Typ</th>
                <th>Ilość</th>
                <th>Kwota w PLN</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div id="footerOnPage"></div>
</body>
</html>